@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #d0d0d0;
}

.navbar .navbar-brand {
  font-size: 28px;
}

#navbarNav .form-control {
  width: 550px;
  font-size: 14px;
}

.navbar-nav .nav-link {
  margin-right: 30px;
}

.nav-item .nav-link:hover {
  color: #ffffff;
}

.navbar-nav .login {
  text-align: center;
  padding: 0 15px;
  border-radius: 5px;
  font-weight: 600;
  color: #ffffff;
  background: #DC3545;
  cursor: pointer;
}

.navbar-nav .login:hover {
  background: #bb2f3d;
}

.navbar-nav .login .nav-link {
  margin-right: 0;
}

.judul-category h4 {
  font-weight: 600;
  padding-top: 15px;
  background: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0;
}

.menu-category p {
  color: #000000;
  font-size: 17px;
  font-weight: 600;
}

.img-category {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.5s;
}

.img-category:hover {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  border-right: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  transform: scale(1.05);
}

.row-container {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #f0f0f0;
  margin: 0;
}

.card {
  border-radius: 10px;
  transition: all 0.2s;
}

.card:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.card-img-top {
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  background: #e3e3e3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-body .btn {
  border: 1px solid transparent;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

.card-body .btn:hover {
  color: #DC3545;
  font-weight: 600;
  background: #e0e0e0;
  border: 1px solid #DC3545;
}

.card-text {
  color: #DC3545;
}

.card-title {
  font-weight: 600;
}

.judul-product h4 {
  font-weight: 600;
  padding: 15px 0;
  background: #f0f0f0;
  border-radius: 10px;
}

footer {
  color: #e0e0e0;
  background: #aaaaaa;
}

footer .row {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-top: 20px;
  width: 35px;
}

.linkedin {
  border-radius: 10px;
  background: #ffffff;
}

@media screen and (max-width: 1200px){
  #navbarNav .form-control {
    width: 300px;
  }
}

@media screen and (max-width: 995px){
  #navbarNav .form-control {
    width: 100%;
    font-size: 14px;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-link {
    margin: auto;
  }
  .card-body .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 560px){
  footer span {
    font-size: 12px;
  }

  footer img {
    width: 25px;
  }
}
